.DS_Store
Library/ProjectSettings.asset
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Library/ShaderCache
Temp
obj/
*.csproj
*.pidb
*.sln
*.log
*.app
Library/CrashedAssetImports.txt
Library/ShaderCache.db
ProjectSettings/EditorBuildSettings.asset
